/* Small */
@media screen and (max-width: 540px){   
    /* Nav */
    i.bx.bx-menu{
        font-size: 34px;
    }
    input.form-control{
        width: 100%;
    }
    .btn{
        margin-top: 15px;
    }

    /* Explore */
    #explore-area{
        padding: 10px 0;
    }
    .explore-left-heading{
        font-size: 40px;
        font-weight: 700;
    }
    .explore-left-data{
        list-style: none;
        display: flex;
        padding: 10px 0;
        text-align: center;
        justify-content: space-around;
    }
    .data-item{
        font-size: 10px;
        font-weight: 600;
    }
    .data-item span{
        font-size: 30px;
    }
    .explore-right{
        position: relative;
        width: 100%;
    }
    .card{
        margin: 0.3rem 0;
        padding: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .card-body{
        padding: 5px 5px 0;
    }
    .card-heading{
        display: flex;
        justify-content: space-between;
    }
    .card-name{
        font-size: 10px;
        font-weight: 700;
    }
    .card-user{
        display: flex;
        justify-content: flex-end;
    }
    .card-user img{
        margin: 0;
        width: 70%;
    }
    .card-content ul{
        list-style: none;
        display: flex;
        padding: 0;justify-content: space-between;
    }
    .card-content ul li{
        font-size: 6px;
        padding: 2px;
    }
    .card-content ul li span{
        font-size: 7px;
        color: #545C71;
    }
    .explore-partner{
        margin-top: 500px;
    }
    .explore-partner li{
        margin: 0 10px;
    }
    .explore-partner li img{
        max-width: 120%;
    }
    .explore-right .card{
        right: unset;
        margin: 0;
        width: 100%;
    }
    .explore-right .card-user img{
        margin: 0px -3px;
    }
    .explore-right .card-name{
        font-size: 16px;
    }
    .explore-right .card-content ul li{
        font-size: 14px;
    }
    .explore-right .card-content ul li span{
        font-size: 12px;
    }
    /* Market */  
    .market-menu li{
        padding: 5px 20px;
        margin: 5px 2px;
    }  
    /* Creator */
    .creator-box-btn{
        display: flex;
        justify-content: space-around;
    }
    .creator-box-btn .btn{
        margin: 40px 0;
        width: auto;
    }
}

/* Medium */
@media screen and (min-width: 541px) and (max-width: 768px ){
    /* Nav  */
    i.bx.bx-menu{
        font-size: 34px;
    }
    input.form-control{
        width: 100%;
    }
    .btn{
        margin-top: 15px;
    }
    /* Explore */
    #explore-area{
        padding: 10px 0;
    }
    .explore-left-heading{
        font-size: 40px;
        font-weight: 700;
    }
    .explore-left-data{
        list-style: none;
        display: flex;
        padding: 10px 0;
        text-align: center;
        justify-content: space-around;
    }
    .data-item{
        font-size: 10px;
        font-weight: 600;
    }
    .data-item span{
        font-size: 30px;
    }
    .explore-right{
        position: relative;
        width: 100%;
    }
    .explore-right .card{
        position: unset;
        margin: 0px 4rem;
    }
    .explore-right .card-content ul li,
    .explore-right .card-content ul li span {
        font-size: 16px;
    }
    .card{
        padding: 10px;
        margin: 0.5rem 0;
    }
    .card-body{
        padding: 1rem .5rem .5rem;
    }
    .card-heading{
        display: flex;
        justify-content: space-between;
    }
    .card-name{
        font-size: 20px;
        font-weight: 700;
    }
    .card-user{
        display: flex;
    }
    .card-user img{
        margin: 0 -3px;
    }
    .card-content ul{
        list-style: none;
        display: flex;
        padding: 0;justify-content: space-between;
    }
    .card-content ul li{
        font-size: 12px;
        padding: 5px;
    }
    .card-content ul li span{
        font-size: 14px;
        color: #545C71;
    }
    .explore-partner li{
        margin: 0;
    }
    /* Market */

    /* Creator */
    
    
}

/* Large */
@media screen and (min-width: 769px) and (max-width: 921px) {
    /* Nav  */
    input.form-control{
        width: 160px;
    }
    .mb-2{
        margin-bottom: 0!important;
    }

    /* Explore */
    #explore-area{
        padding: 20px 0;
    }
    .explore-left-heading{
        font-size: 40px;
        font-weight: 700;
    }
    .explore-left-data{
        list-style: none;
        display: flex;
        padding: 10px 0;
        text-align: center;
        justify-content: space-around;
    }
    .data-item{
        font-size: 10px;
        font-weight: 600;
    }
    .data-item span{
        font-size: 30px;
    }
    .explore-right{
        position: relative;
        width: 100%;
    }
    .explore-right .card-name{
        font-size: 18px;
    }
    .explore-right .card-content ul li,
    .explore-right .card-content ul li span{
        font-size: 14px;
    }
    .explore-partner{
        margin-top: 100px;
    }
    .explore-partner li{
        margin: 0;
    }
    
    .card{
        background: var(--bg-card);
        padding: 10px;
        margin: 0.5rem 0;
    }
    .card-body{
        padding: 1rem .5rem .5rem;
    }
    .card-heading{
        display: flex;
        justify-content: space-between;
    }
    .card-name{
        font-size: 14px;
        font-weight: 700;
    }
    
    .card-content ul{
        list-style: none;
        display: flex;
        padding: 0;justify-content: space-between;
    }
    .card-content ul li{
        font-size: 10px;
        padding: 5px;
    }
    .card-content ul li span{
        font-size: 10px;
        color: #545C71;
    }
    
    /* Market */

    /* Creator */
    .creator-box{
        height: 100%;
    }
    .creator-box h3{
        height: 20%;
    }
    

    
}

/* XLarge */
/* >= 992 & < 1199 */
@media screen and (min-width: 922px) and (max-width: 1199px) {
    /* Nav */
    input.form-control{
        width: 170px;
    }
    .btn.btn-outline-success{
        width: 100px;
    }
    .mb-2{
        margin-bottom: 0!important;
    }
    
    /* Explore */
    #explore-area{
        padding: 20px 0;
    }
    .explore-left-heading{
        font-size: 40px;
        font-weight: 700;
    }
    .explore-left-data{
        list-style: none;
        display: flex;
        padding: 10px 0;
        text-align: center;
        justify-content: space-around;
    }
    .data-item{
        font-size: 10px;
        font-weight: 600;
    }
    .data-item span{
        font-size: 30px;
    }
    .explore-right{
        position: relative;
        width: 100%;
    }
    .explore-right .card-content ul li,
    .explore-right .card-content ul li span{
        font-size: 14px;
    }
    .card{
        background: var(--bg-card);
        padding: 10px;
        margin: 0.5rem 0;
    }
    .card-body{
        padding: 1rem .5rem .5rem;
    }
    .card-heading{
        display: flex;
        justify-content: space-between;
    }
    .card-name{
        font-size: 14px;
        font-weight: 700;
    }
    .card-content ul{
        list-style: none;
        display: flex;
        padding: 0;justify-content: space-between;
    }
    .card-content ul li{
        font-size: 12px;
        padding: 5px;
    }
    .card-content ul li span{
        font-size: 10px;
        color: #545C71;
    }
    .explore-partner{
        margin-top: 170px;
    }
    .explore-partner li{
        margin: 0 20px;
    }

    /* Creator */
    .creator-box{
        height: 100%;
    }
    .creator-box h3{
        height: 20%;
    }
    
 }
